{% extends "base.html" %}


{% block content %}

<div class="w-100">
  <div class="flex flex-wrap justify-center">
    
    {% for cat, arts in categories %}
      {% for a in arts|sort(attribute="title")%}
        <div class="mw5">
          <h2 class="tc mt4 mb0 navy">{{a.title}}</h2>
          <a href="{{SITEURL}}/{{a.category}}/{{a.url}}">
            <img class="img-highlight" src="{{SITEURL}}/images/anim/{{a.anim}}">
          </a>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% endblock content %}